<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="IT Bootcamp final Selenium project">
    <test name="Demo website test">
        <classes>
            <class name="tests.LocaleTests"/>
            <class name="tests.LoginTests"/>
            <class name="tests.AuthRoutesTests"/>
            <class name="tests.SignUpTests"/>
            <class name="tests.AdminCitiesTests"/>
            <class name="tests.ProfileTests"/>
        </classes>
    </test>
</suite>